extends layout.pug

block content
  ul
    li
      img(src="http://placekitten.com/600/400")
    li
      img(src="http://placekitten.com/600/400")
    li
      img(src="http://placekitten.com/600/400")
    li
      img(src="http://placekitten.com/600/400")

  